/* styles.css */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&family=Open+Sans:wght@500&display=swap');
* {
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  font-weight: 500;
  padding: 0;
  margin: 0;
  line-height: 1.5em;
  letter-spacing: 0.01em;
  color: #fff;
}

.bg-black {
  background-color: #000000;
}

.body {
  height: 100vh;
  display: flex;
  flex-direction: column;

}

.mw-95 {
  max-width: 95em;
}

.top-box {
  /* flex-flow: flex; */
  justify-content: space-between;
  align-items: center;
  width: 100%;
  display: flex;
  /* max-width: 95em; */
  margin: 0 auto;
  padding-top: 2em;
  padding-bottom: 2em;

}

.top-box-2 {
  /* flex-flow: flex; */
  display: flex;
  gap: 1em;
}

.intro {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* height: 100%; */
}

.section {
  padding: 3em;
  position: relative;
}

.subtitle-2 {
  color: #EBE1F9;
}

.fs-2 {
  font-size: 2.7em;
}

.flex-box {
  display: flex;
}

.g-1 {
  gap: 1em;
}

.fd-c {
  flex-direction: column;
}

.fd-r {
  flex-direction: row;
}

.fs-1-5{
  font-size: 1.5em;
}

.bullet-point {
  padding-left: 2.5em;
}

.ai-c {
  align-items: center;
}

.jc-sb {
  justify-content: space-between;
}

.jc-c {
  justify-content: center;
}

.gap-16 {
  gap: 16em;
}

.fw {
  flex-wrap: wrap;
}

.fb-50 {
  flex-basis: 50%;
}

.fg-0 {
  flex-grow: 0;
}

.fs-0 {
  flex-shrink: 0;
}

.w-fc {
  width: fit-content;
}

.placeholder-img {
  width: 40em;
}

.ma-0 {
  margin: 0 auto;
}

.fullwidth {
  width: 100%;
}

.fg-1 {
  flex-grow: 1;
}

.fs-1 {
  flex-shrink: 1;
}

.title {
  font-size: 3em;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  line-height: 1.2em;
  color: #EBE1F9;
}

.subtitle {
  margin-top: 1em;
  font-size: 1.5em;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
}

.talk-to-us {
  margin-top: 1.5em;
  /* font-size: 1.5em;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600; */
}

.talk-to-us button {
  font-size: 0.8em;
  padding: 0.5em 1em; /* Adjust padding as needed */
  border: none;
  font-weight: 600;
  font-family: 'Montserrat', sans-serif;
  background-color: #EBE1F9; /* Adjust background color */
  color: #000000; /* Adjust text color */
  cursor: pointer;  border-radius: 1em;
  padding-left: 2em;
  padding-right: 2em;
  padding-top: 0.7em;
  border-radius: 1em;
  padding-bottom: 0.7em;
}

.ta-c {
  text-align: center;
}

.scroll {
  font-size: 0.8em;
  padding-bottom: 0.5em;
}

.mouse-down {
  width: 1em;
  margin: 0.5em auto 0;
  animation-name: mouse-down-anim;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: ease;
}

@keyframes mouse-down-anim {
  0%   {transform: translateY(-0.5em)}
  15%  {transform: translateY(0em)}
  85%  {transform: translateY(0em)}
  100% {transform: translateY(-0.5em)}
}

